$font: 'Poiret One', cursive;
$primary-color: #fff;
$secondary-color: #60CFFF;
$tertiary-color: #FF60CF;

body {
  font-size: 40px;
  background-color: $primary-color;
}
#board {
  margin: 0 auto;
  margin-top: 10px;
  vertical-align: middle;
  text-align: center;

  .tac {
    background-color: $tertiary-color;
    height: 13em;
    width: 20%;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;

    i {
      font-size: 10em;
      color: #000 !important;
    }
  }
}
#player-select {
  padding-top: 10px;

  input {
    display: none;

    &:checked + label {
      background-color: $secondary-color;
      color: $primary-color;
    }
  }

  .btn {
    font-size: .7em;
    height: 50px;
    background-color: $tertiary-color;
    color: $primary-color;
    border-radius: 10px;
  }
  #reset {
    background-color: #60FF90;
  }
}
