$font: "Lato", Helvetica, sans-serif;
$primary-color: #fff;
$secondary-color: #51B0D9;
$tertiary-color: #000;


body {
  background-color: $primary-color;
  font-family: $font;
  font-size: 40px;
}
#main {
  padding-top: 1em;
  text-align: center;

  .pull-right {
    color: $secondary-color;
  }
  #spacer {
    padding-top: 200px;
  }
}
#search {
  padding-top: 15px;

  input {
    font-size: .8em;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
    border: 5px solid $secondary-color;

    &:focus {
      outline: none;
    }
  }
  i {
    color: $secondary-color;

    &:hover {
      cursor: pointer;
    }
  }
}
#random {
  font-size: .7em;
  color: $tertiary-color;
}
#articles {

  li {
    list-style: none;
  }
  a:hover {
    text-decoration: none;
    background-color: $secondary-color;

  }
  h2 {
    text-decoration: underline !important;
    font-size: .9em;
    color: $tertiary-color;
  }
  p {
    font-size: .6em;
    color: $tertiary-color;
  }
}
