<!DOCTYPE html>

<html ng-app="calc">
<head>
  <meta charset="utf-8">
  <meta description content="Simple Calculator.">
  <!--[if lt IE 9]>
                <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->

  <!--Imports -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

  <script type="text/javascript" src="app.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheet.css"/>

  <title>A Simple Web Calculator</title>
  <noscript>This application requires JavaScript to function. Please enable scripts in your browser.</noscript>
</head>

<body>
  <section id="calc"  class="container" ng-controller="CalcController as calc">
    <input type="readonly" disabled ng-model="screen" />
    <div id="pad" class="container">
      <div class="row">
        <button ng-click="clear()">C</button>
        <button ng-click="changeSign()"><sup>+</sup>/<sub>−</sub></button>
        <button ng-click="modulate()">%</button>
        <button ng-click="divide()">÷</button>
      </div>
      <div class="row">
        <button ng-click="display(7)">7</button>
        <button ng-click="display(8)">8</button>
        <button ng-click="display(9)">9</button>
        <button ng-click="multiply()">x</button>
      </div>
      <div class="row">
        <button ng-click="display(6)">6</button>
        <button ng-click="display(5)">5</button>
        <button ng-click="display(4)">4</button>
        <button ng-click="add()">+</button>
      </div>
      <div class="row">
        <button ng-click="display(3)">3</button>
        <button ng-click="display(2)">2</button>
        <button ng-click="display(1)">1</button>
        <button ng-click="subtract()">-</button>
      </div>
      <div class="row">
        <button id="zero" ng-click="display(0)">0</button>
        <button ng-click="display('.')">.</button>
        <button ng-click="submit()">=</button>
      </div>
  </section>
</body>
</html>
