//Variables ---------------------------------
$font: "Lato", Helvetica, sans-serif;
$primary-color: #6632DD;
$secondary-color: #A9DD32;
$tertiary-color: #fff;
//-------------------------------------------

//BODY-----------------------------
body {
  font-family: $font;
  background-color: $primary-color;
  color: $secondary-color;
  vertical-align: baseline;
  text-align: center;
  font-weight: bold;
  font-size: 16px;

  .title {
    color: $tertiary-color;
  }
}
//-----------------------------------

//APP--------------------------------
#app {
  margin: 20px auto;
  padding-top: 10px;
  background-color: $secondary-color;
  width: 30%;
  display: flex;
  flex-direction: column;

}
//------------------------------------


//SEARCH-----------------------------
#search {
  padding-top: 10px;

  i {
    padding-right: 10px;
    font-size: 1.5em;
    color: $primary-color;
  }
  input {
    width: 60%;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding-left: 5px;
    color: $primary-color;

    &:focus {
      outline: none;
    }
  }
}
//------------------------------------


//MENU------------------------------
#menu {
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;

  li {
    font-size: 1.3em;
    text-align: center;
    display: inline-block;
    padding: .5em;
    margin: 0;
    width: 30%;
    color: $tertiary-color;
    cursor: pointer;
  }
}
//-----------------------------------

//PANELS--------------------------------
.panel  {
  background-color: $secondary-color;
  color: $tertiary-color;
  text-align: left;

  a:hover {
    text-decoration: none;
  }
  li {
    padding-bottom: 10px;

    span {
      padding-left: 15px;
    }
    i {
      padding-right: 10px;
    }
    p {
      padding-top: 5px;
      font-weight: lighter;
      font-size: .8em;
    }
  }
  img {
    width: 50px;
    height: 50px;
  }
  .fa-check {
    color: green;
  }
  .fa-exclamation {
    color: red;
  }
}

//-----------------------------------
