<html ng-app>
<head>
  <meta charset="utf-8">
  <meta description content="A Twitch streamer following app.">
  <!--[if lt IE 9]>
                <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->

  <!--Imports -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <script type="text/javascript" src="script.js"></script>
  <link rel="stylesheet" type="text/css" href="output-style.css"/>

  <title>Twitch'Em | Follow your favorite Twitch Streamers</title>
  <noscript>This application requires JavaScript to function. Please enable scripts in your browser.</noscript>
</head>

<main ng-app="TwitchEm" id="app">
  <section ng-controller="MainCtrl">
    <header id="header">
      <ul id="menu">
        <li data-display="all" class="activeMenu">All</li>
        <li data-display="online" class="activeMenu">Online</li>
        <li data-display="offline" class="activeMenu">Offline</li>
      </ul>
    </header>
    <div id="search"><i class="fa fa-search"></li>
      <input type="text" ng-model="searchText"/>
    </div>
    <ul id="subscriptions"><a target="_blank" href="http://twitch.tv/{{user.username}}" ng-repeat="user in profile | filter:searchValue">
      <li><img ng-src="{{user.logo}}" err-src="http://placehold.it/50x50" class="pic"/><span class="name">{{user.name}}</span><span class="status"><i class="{{user.status}}"></i></span><span class="title">{{user.streamTitle}}</span></li></a></ul>
  </section>
</main>

</html>
